*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
    
}
html,body{
    width: 100%;
   
    overflow: hidden;
}

span{
    font-size: 10px;
}
.container{
    display: flex;
    
}
.chat-list{
    width: 30%;
    overflow-x: hidden;
    
}
.display-message{
    width: 70%;
    height: 100vh;
}
/* CSS for Chat-list */
.profile-image img{
    width: 100%;
    border-radius: 50%;
    justify-self: center;
}

.profile-image{
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
header{
    background-color: #EDEDED;
    
}
 nav{
    display: flex;
    
    justify-content: space-between;
    padding: 15px;
  
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.ri-more-fill, .ri-add-line, .ri-loader-3-fill{
    font-size: 20px;
   
}
li{
    margin-left: 20px;
}
.searcher{
    padding: 10px;
    background-color: #EDEDED;
}
input[type = 'search']{
    width: 75%;
    height: 40px;
    font-size:16px;
    border: none;
    margin-left: 40px;
    outline: none;
    border-radius: 20px;
}
input::placeholder{
   padding-left: 2px;
    font-size: 16px;
}
.searchbox{
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
  
}
.search-icon{
    position: absolute;
    bottom: 12px;
    left: 15px;
}
.sender-image img{
    width: 100%;
    border-radius: 50%;
}
.sender-image{
    width: 40px;
    margin-right: 4%;
    display: flex;
    align-items: center;
}
.message-box{
    display: flex;
    border-bottom: 1px solid rgb(237, 238, 237);
    height: 100%;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
.message-list:hover{
    background-color:#d1d1d1;
    cursor: pointer;
}
.chat-details{
    margin-right: auto;
}
.message-list-holder{
    display: flex;
    padding-left: 10px;
   
}  
.name {
    font-size: 14px;
}
div.time{
    font-size: 12px;
    margin-right: 10px;
    width: 50px;
}
.message{
    font-size: 12px;
    color: rgb(167, 167, 167);
}
.nav-icons:hover{
    cursor: pointer;
    
}
.message-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin: 10px; */
}
.username, .detail{
    font-size:14px
}
section{
    height: 77vh;
    overflow-y: scroll;
}



/* display message CSS */
.message-nav{
    display: flex;
}

.message-nav img{
    width: 40px;
    border-radius: 50%;
}

.sender-details{
    margin-left: 2%;
    width: 250px;
}
.head-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #EDEDED;
    width: 100%;
}
.icon{
    margin-left: 12px;
}
.icons:hover{
    cursor: pointer;
}
.icons{
    display: flex;
    margin-top: 9px;
} 
.detail{
    font-size: 12px;
    color: rgb(167, 167, 167);
}
.background{
    background-image: url('../images/whatsapp.jpg');
    height: 80vh;
    width: 100%;
    background-size: cover;
    
}
.send-message{
    display: flex;
    width: 100%;
    background-color: #ededed;
    height: 65px;
    justify-content: center;
    align-items: center;
    
}
input[type = 'text']{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
}

.type-message{
    width: 80%;
}
.message-icon{
    font-size: 25px;
    margin: 0 10px;
    color: #a5a2a2;
}
.message-icon:hover{
    cursor: pointer;
}
@media screen and (max-width:600px){
    .display-message{
        display: none
    }
    .chat-list{
        width: 100%;
    }
    input[type = 'search']{
        width: 80%;
        
    }
    .searchbox{
        width: 95%;
        margin: auto;
    }
    .searcher{
        width: 100%;
        margin: auto;
    }
}